.label {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  max-width: 415px;
  display: block;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 15px 14px;
  margin-bottom: 20px;
}
